*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
    color: #333333;
    counter-reset: circle 0;
}
.-pc {
    display: block;
}
.-sp {
    display: none;
}
@include sp {
    .-pc {
        display: none;
    }
    .-sp {
        display: block;
    }
}
body {
    width: 100%;
    min-width: 1200px;
    max-width: 1500px;
    margin: 0 auto;
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho",
        serif;
    color: #ffffff;
    font-size: 1.6rem;
    letter-spacing: 0.1em;
    line-height: 2;
    background-color: #030515;
    @include sp {
        min-width: 100%;
    }
}

.fv {
    background-image: url(../images/fv_back.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    padding-top: 10rem;
    text-align: center;
    @include sp {
        background-size: cover;
    }
    &__catch {
        position: relative;
        @include sp {
            width: 90%;
            margin: 0 auto;
        }
    }
    &__date {
        @include sp {
            width: 90%;
            margin: 0 auto;
        }
    }
    &__copy {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        @include sp {
            width: 100%;
            margin: 0 auto;
        }
    }
}
.title_h2 {
    text-align: center;
    margin-bottom: 10rem;
    @include sp {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 5rem;
    }
}
.title_h3 {
    text-align: center;
    color: #9d2023;
    font-size: 3rem;
    margin-bottom: 3rem;
}
.buy_ticket {
    text-align: center;
    a{
        display: block;
        &:hover{
            animation: glitch 750ms infinite;
            &:after {
                animation: scan 2s infinite;
                opacity: 1;
              }
        }
    }
}
.base_contetns {
    padding: 13rem 0 5rem 0;
    width: 1000px;
    margin: 0 auto;
    @include sp {
        width: 100%;
        padding: 8rem 0 5rem 0;
    }
}
.story_wrapper {
    background-image: url(../images/sec_backg_01.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
}

.intro {
    &__copy {
        text-align: center;
        line-height: 3.5;
        @include sp {
            line-height: 2.5;
            width: 90%;
            margin: 0 auto;
        }
    }
}
.mission {
    &__det {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row-reverse;
        margin-bottom: 3rem;
        @include sp {
            display: block;
            position: relative;
            text-align: center;
        }
    }
    &__img {
        @include sp {
            z-index: 2;
        }
    }
    &__copy {
        @include sp {
            position: absolute;
            top: 40%;
            left: 55%;
            width: 70%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }
    }
    &__explain {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
        @include sp {
            display: block;
        }
        &--rev {
            margin-bottom: 0rem;
            flex-direction: row-reverse;
            .mission__exdet {
                text-align: left;
                @include sp {
                    text-align: center;
                }
            }
        }
    }
    &__eximg {
        width: 50%;
        position: relative;
        @include sp {
           width: 80%;
           margin: 0 auto 2rem auto;
        }
        img {
            width: 100%;
        }
    }
    &__exdet {
        text-align: right;
        width: 40%;
        @include sp {
            width: 100%;
            margin: 0 auto;
            text-align: center;
         }
        dt {
            font-size: 2rem;
            padding: 0 2rem;
            margin-bottom: 3rem;
            display: inline-block;
            background-color: #9d2023;
        }
        dd {
            font-size: 1.8rem;
        }
    }
}

.access {
    background-image: url(../images/sec_backg_02.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    @include sp{
        background-size: cover;
    }
    &__det {
        text-align: center;
        margin-bottom: 6rem;
        dt {
            font-size: 3.4rem;
            margin-bottom: 2rem;
            @include sp{
                font-size: 2.5rem;
            }
        }
    }
    &__map_btn {
        text-align: center;
        margin-bottom: 6rem;
        &:hover{
            animation: glitch 750ms infinite;
            &:after {
                animation: scan 2s infinite;
                opacity: 1;
              }
        }
        @include sp{

            img{
                width: 70%;
            }
        }
    }
    &__transport {
        text-align: center;
        h3 {
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
        li {
            margin-bottom: 3rem;
        }
    }
}

.ticket {
    &__det {
        width: 800px;
        margin: 5rem auto 0 auto;
        @include sp {
            width: 100%;
        }
    }
    &__price {
        text-align: center;
        line-height: 1.5;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 5rem;
        @include sp{
            display: block;
        }
        li {
            border: 1px solid #7d7e86;
            padding: 2rem 1rem;
            width: 45%;
            @include sp{
                width: 80%;
                margin: 0 auto 3rem auto;
            }
        }
        h3 {
            font-size: 2.6rem;
        }
        .caption {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        .price {
            color: #9d2023;
            font-size: 5rem;
            span {
                font-size: 2.5rem;
            }
        }
    }
    &__caution {
        line-height: 2;
        font-size: 1.3rem;
        margin-bottom: 5rem;
        @include sp{
            width: 80%;
            margin: 0 auto 5rem auto;
        }
    }
    &__date {
        &_det {
            border-top: 1px solid #7d7e86;
            border-bottom: 1px solid #7d7e86;
            width: 80%;
            margin: 0 auto;
            padding: 3rem 0;
            font-size: 2rem;
            @include sp{
                font-size: 1.5rem;
                text-align: center;
            }
            li {
                width: 60%;
                margin: 0 auto;
                @include sp{
                    width: 100%;
                }
            }
            span {
                font-weight: bold;
            }
            &--caution {
                text-align: center;
                font-size: 1.3rem;
            }
        }
    }
}

.caution {
    &__wrapper {
        width: 800px;
        margin: 0 auto 5rem auto;
        border: 1px solid #7d7e86;
        padding: 5rem;
        @include sp {
            width: 90%;
            padding: 5rem 2rem;
        }
        h3 {
            text-align: center;
            margin-bottom: 5rem;
        }
    }
    &__det {
        padding-left: 3rem;
        @include sp{
            padding-left: 1rem;
        }
        li {
            position: relative;
            margin-bottom: 1.5rem;
            p {
                font-size: 1.3rem;
            }
            @include sp{
                font-size: 1.3rem;
                p {
                    font-size: 1rem;
                }
            }
            &::after {
                display: block;
                content: "";
                position: absolute;
                top: 1.5rem;
                left: -1em;
                width: 3px;
                height: 3px;
                background-color: #ffffff;
                border-radius: 100%;
            }
        }
    }
}

.contact {
    width: 800px;
    margin: 5rem auto 5rem auto;
    @include sp {
        width: 80%;
    }
    &__det {
        border-top: 1px solid #7d7e86;
        border-bottom: 1px solid #7d7e86;
        text-align: center;
        padding: 3rem 0;
        dt {
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }
    }
    &__tel {
        color: #9d2023;
        font-size: 1.8rem;
        span {
            font-size: 3rem;
            font-weight: bold;
        }
    }
}

.closing {
    background-image: url(../images/sec_backg_03.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    padding-top: 10rem;
    text-align: center;
    @include sp{
        background-size: cover;
        padding-top: 0;
    }
    &__catch {
        margin-bottom: 3rem;
    }
    &__img {
        position: relative;
        .buy_ticket {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            @include sp{
                width: 100%;
            }
        }
    }
}

.sponsor {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @include sp{
        width: 90%;
        margin: 0 auto 3rem auto;
        justify-content: space-between;
    }
    li {
        width: 30%;
        margin-bottom: 1rem;
        @include sp{
            width: 48%;
        }
        img {
            width: 100%;
        }
    }
}

.footer {
    background-image: url(../images/sec_6_img3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    text-align: center;
}
.page_top {
    margin-bottom: 5rem;
    a{
        display: block;
        &:hover{
            animation: glitch 750ms infinite;
            &:after {
                animation: scan 2s infinite;
                opacity: 1;
              }
        }
    }
}
.copy {
    font-size: 1.2rem;
}
